.navbar {
    padding: 20px 25px;
    margin: 0 auto;
}

.navbar-collapse {
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
}

.search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

input.form-control.mr-sm-2 {
    width: 350px;
}