.footer {
    min-height: 30px;
    background: #2c2f33;
    position: relative;
}

.footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    color: #ffffff;
}